@charset "ISO-8859-1";


.home_page_photo{
	width: 200px;
	height: 150px !important;
}

/************ pagination *******/

.pager .active a {
	background-color: #000;
	color: #fff;
	
}

.pager .active a:hover {
	background-color: #fff;
	color: #000;
	
}