@charset "ISO-8859-1";

.admin-photo-thumbnail {
	width: 200px;
	border-radius: 5px;
}

.user_image {
	width: 62px;
	height: 62px;
}

/**************** Edit photo page side bar **************/
.photo-info-box {
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	background-color: #fff;
}

.info-box-header {
	padding: 6px;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	background-color: #fff;
}

.photo-info-box .box-inner {
	border-top: 1px solid #e5e5e5;
	background-color: #fff;
	padding: 6px;
}

.photo-info-box .box-inner .text {
	padding: 7px 9px 19px;
}

.photo-info-box .box-inner .data {
	font-weight: bold;
}

.photo-info-box .info-box-footer {
	border-top: 1px solid #ddd;
	background-color: #ddd;
	padding: 10px;
}

/************** modal css **************/
.modal-dialog {
	width: 90% !important;
}

.modal-body {
	overflow: auto;
	height: 500px !important;
	min-height: 300px !important;
}

.modal_thumbnails {
	width: 150px;
	height: 100px !important;
}

#set_user_image {
	margin: 10px;
}

#modal_sidebar {
	position: fixed !important;
}


/********* estilos personalizados dropzone ****/
.dropzone {
	border:6px dashed #0087f7;
	border-radius: 5px;
	background: white;
	margin-top: 30px;
	
}


/********* estilos personalizados login ****/

#login-id label {
	color: #fff;
	
	
	
}
